<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/add.css">

    <title>Adicionar Aluno</title>
</head>
<body>
    <header>
        <h1>Cadastrar Aluno</h1>
    </header>

    <form id="cadastrar_aluno" method="post" action="/User/create">

        <label class="must_fill">Nome Completo</label>
        <input placeholder="Nome Completo" class="add_name" type="text" name="name">

        <label class="must_fill">Data de Nascimento</label>
        <input placeholder="" class="add_age" type="date" name="birth_date">

        <label class="must_fill">CPF</label>
        <input placeholder="xxx.xxx.xxx-xx" class="add_cpf" type="text" name="cpf">

        <label class="must_fill">Email</label>
        <input placeholder="" class="add_email" type="email" name="email">

        <button type="submit">Cadastrar</button>
        <a href="/">Voltar</a>
    </form>

    {% if show_alert==True %}
        <script>
            let msg = "{{ mensage }}";

            // console.log(msg)
            alert(msg);
        </script>
    {% endif %}
</body>
</html>