<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/index.css">

    <title>Projeto Escola</title>

</head>
<body>
    <header>
        <h1>Projeto Escola Web</h1>
    </header>

    <main>
        <a href="/User/create">Cadastar Aluno</a>
        <a href="/User/list">Listar Alunos</a>
    </main>
</body>
</html>