<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/list.css">

    <title>Listar Alunos</title>
</head>
<body>
    <header>
        <h1>Alunos Cadastrados</h1>
    </header>

    <main>
        <ul>
            {% for student in Students_all %}
            <li>
               <div class="about">
                    <span class="type">
                        <span>Nome</span>
                        <span>{{ student.name }}</span>
                    </span>
                    <span class="type">
                        <span>Idade</span>
                        <span>{{ student.age }}</span>
                    </span>
                    <span class="type">
                        <span>CPF</span>
                        <span>{{ student.cpf }}</span>
                    </span>
                    <span class="type">
                        <span>Email</span>
                        <span>{{ student.email }}</span>
                    </span>
                </div>

                <div class="options">
                    <a href="/User/update/{{student.id}}">Editar</a>
                    <a href="/User/remove/{{student.id}}">Remover</a>
                </div>
            </li>
            {%endfor%}
        </ul>
    </main>
    
</body>
</html>