<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Atualizar Aluno</title>

</head>
<body>
    <h1>Atualizar Aluno</h1>

    <form action="/User/update/{{User.id}}" method="post">
        <label>Nome Completo</label>
        <input value="{{User.name}}" placeholder="Nome Completo" class="add_name" type="text" name="name">

        <label>Idade</label>
        <input value="{{User.birth_date}}" placeholder="" class="add_age" type="number" name="birth_date">

        <label>CPF</label>
        <input value="{{User.cpf}}" placeholder="xxx.xxx.xxx-xx" class="add_cpf" type="text" name="cpf">

        <label>Email</label>
        <input value="{{User.email}}" placeholder="" class="add_email" type="email" name="email">

        <button type="submit">Cadastrar</button>
    </form>
    
</body>
</html>